* {
    font-family: Arial, serif;
    text-align: center;
}

div.form, div.links{
    border: 1px black solid;
    border-radius: 10px;
}

div.form{
    display: inline-block;
    background-color: lightgray;
    padding: 10px;
}

div.links{
    display: inline-block;
    background-color: antiquewhite;
    padding: 0 10px;
}

a.link{
    text-decoration: none;
}

a.link:hover{
    text-decoration: underline;
}