body {
    font-family: Arial, serif;
    text-align: center;
}

div.form,
div.links {
    border: 1px black solid;
    border-radius: 10px;
    margin: 5px;
}

div.form {
    display: inline-block;
    background-color: lightgray;
    padding: 10px;
}

div.links {
    display: inline-block;
    background-color: antiquewhite;
    padding: 0 20px;
}

div.comment {
    border: 1px black dotted;
    border-radius: 30px;
    margin: 5px;
    display: inline-block;
    background-color: aliceblue;
    padding: 10px 30px 10px 10px;
}

a {
    color: #285988;
}

a.link {
    text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
    color: #212175;
}

textarea {
    resize: none;
}

textarea.out {
    background-color: #eaeaea;
}

ul.comment {
    text-align: left;
}